/*/.DS_Store
.DS_Store
.env

# old bibliographies
memoire.bib
biblio.bib

# auxiliary files
latex/*.acn
latex/sections/*/*.acn

latex/*.acr
latex/sections/*/*.acr

latex/*.alg
latex/sections/*/*.alg

latex/*.aux
latex/sections/*/*.aux

latex/*.bbl
latex/sections/*/*.bbl

latex/*.bcf
latex/sections/*/*.bcf

latex/*.blg
latex/sections/*/*.blg

latex/*.fdb_latexmk
latex/sections/*/*.fdb_latexmk

latex/*.fls
latex/sections/*/*.fls

latex/*.glg
latex/sections/*/*.glg

latex/*.glo
latex/sections/*/*.glo

latex/*.gls
latex/sections/*/*.gls

latex/*.ist
latex/sections/*/*.ist

latex/*.lof
latex/sections/*/*.lof

latex/*.log
latex/sections/*/*.log

latex/*.lot
latex/sections/*/*.lot

latex/*.out
latex/sections/*/*.out

latex/*.run.xml
latex/sections/*/*.run.xml

latex/*.synctex*
latex/sections/*/*.synctex*

latex/*.toc
latex/sections/*/*.toc

latex/*.sta
latex/sections/*/*.sta

latex/*-blx.bib
latex/sections/*/*-blx.bib